<div style="width: 80rem;" class="offset-md-1">
    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Hospital</th>
                <th scope="col">Specilist</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Tel</th>
                <th scope="col">Coordination</th>
                <th scope="col">URI</th>
                <th scope="col">INFO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let option of tableData; let i=index">
                <th scope="row">{{i}}</th>
                <td>
                    {{option.label}}
                </td>
                <td>{{ option.medicalSpecialty }}</td>
                <td>
                    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg'" class="mr-2"
                        style="width: 20px">
                    {{ option.cityName}}
                </td>
                <td>{{ option.address}}</td>
                <td>{{ option.telephone}}</td>
                <td>{{ option.coordination}}</td>
                <td>{{ option.uri}}</td>
                <td>{{ option.comment}}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="hospitalData.length" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshHospitalData()">
        </ngb-pagination>

    </div>

</div>