<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SEMANTIC-WEB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/create">Create New RDF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Welcome</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 search-form">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <mat-form-field class="mr-sm-3">
        <input type="text" class="form-control mr-sm-2" placeholder="Pick one" aria-label="Number" matInput
          [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- https://www.npmjs.com/package/angular-ng-autocomplete -->
      <!-- <ng-autocomplete class="col-md-6" [data]="data" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
        (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
        [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete> 
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>-->
      <button class="btn btn-outline-primary my-2 my-sm-0 offset-md-1" type="button"
        (click)="searchOnClick()">Search</button>
    </form>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<div class="offset-md-2">
  <!-- MORE MAP INPUTS AND EVENTS -->
  <!-- https://angular-maps.com/api-docs/agm-core/components/agmmap#source  -->
  <!-- lat46.2276  long2.2137-->
  <agm-map [latitude]="lat" [longitude]="long" [draggableCursor]="'url(http://www.example.com/icon.png), auto;'"
    [zoom]="10" [mapDraggable]="true" [disableDoubleClickZoom]="true" (mapClick)="mapClick($event)">

    <!-- http://maps.google.com/mapfiles/kml/shapes/rail.png -->


    <ng-container *ngFor="let item of mapPlots; let i = index">
      <agm-marker [latitude]="item.lat" [longitude]="item.long" [iconUrl]="item.img">
        <agm-info-window>
          <span class="badge badge-warning">{{item.label}}</span>
        </agm-info-window>
      </agm-marker>
    </ng-container>

    <!-- <ng-container *ngFor="let station of trainStationPlots; let i = index">
      <agm-marker [latitude]="station.lat" [longitude]="station.long"
        [iconUrl]="'http://maps.google.com/mapfiles/kml/shapes/rail.png'">
        <agm-info-window>
          <span class="badge badge-warning">{{station.label}}</span>
        </agm-info-window>
      </agm-marker>
    </ng-container>
    <ng-container *ngFor="let hospital of hospitalPlots; let i = index">
      <agm-marker [latitude]="hospital.lat" [longitude]="hospital.long"
        [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/hospitals.png'">
        <agm-info-window>
          <span class="badge badge-warning">{{hospital.label}}</span>
        </agm-info-window>
      </agm-marker>
    </ng-container> -->

    <!-- http://maps.google.com/mapfiles/ms/icons/cycling.png -->
    <!-- <agm-marker *ngFor="let item of hospitalPlots; let i = index" [latitude]="item.lat" [longitude]="item.long">
      <agm-info-window>
        <span class="badge badge-warning">{{item.label}}</span>
      </agm-info-window>
    </agm-marker> -->
    <!-- [iconUrl]="'http://maps.google.com/mapfiles/kml/shapes/rail.png'" -->

    <agm-marker [latitude]="lat" [longitude]="long">
      <agm-info-window>
        <h1>My location</h1>
      </agm-info-window>
    </agm-marker>

    <agm-circle [latitude]="lat" [longitude]="long" [radius]="500" [fillColor]="'blue'" [circleDraggable]="false"
      [editable]="false" (dragEnd)="radiusDragEnd($event)" (radiusChange)="radiusChange('radiusChange',$event)">
    </agm-circle>
  </agm-map>
</div>

<app-footer></app-footer>