<!-- <app-map></app-map> -->
<mat-card>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="TRAIN-STATION">
            <app-station [stationData]="trainStation"></app-station>
        </mat-tab>
        <mat-tab label="HOSPITAL">
            <app-hospital [hospitalData]="hospitals"></app-hospital>
        </mat-tab>
        <mat-tab label="BIKE-STATION">
            <app-bike-station [bikeStationData]="bikeStations"></app-bike-station>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<div class="alert alert-primary" *ngIf="isWeather" role="alert">
    Current weather in the city is {{weather.description}} : {{weather.temperatureValue}} (Kelvin)
</div>